body{
    background:#17a2b8;
    overflow: hidden;
}
.wraper{

    max-width: 700px;
    width: 100%;
    margin: 130px auto;
    background: #fff;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    
}
.wraper header{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 20px;

}
.wraper nav{
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    
}
.wraper nav label{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color:#17a2b8;
    position: relative;
    z-index: 1;

}



